!!!
%head
  %meta{:charset => 'utf-8'}
  %link{:rel => 'stylesheet', :href => 'http://twitter.github.com/bootstrap/assets/css/bootstrap.css'}
  %link{:rel => 'stylesheet', :href => 'http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css'}
  %link{:rel => 'stylesheet', :href => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css'}
  %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
  %script{:src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'}
    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    :javascript
      $(function() {
      });
  %title
    Mongo Sample
%body
  %header= @title
  %div.container#container
    %div.row
      %div.span12
        != yield
  %footer.footer
