!!!
%head
  %meta{:charset => 'utf-8'}
  %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  %link{:rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'}
  %link{:rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css'}
  %title
    Mongo Sample
%body
  %header= @title
  %div.container#container
    %div.row
      %div.col-md-12
        != yield
  %footer.footer
  %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
  %script{:src => '//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'}
  /[if lt IE 9]
    %script{:src => '//html5shim.googlecode.com/svn/trunk/html5.js'}
  :javascript
    $(function() {
    });
